---
import "../styles/global.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> task 1</title>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<body class="bg-lime-100">
			<div class="flex items-center justify-center gap-4 mt-10 ">
		<!-- gif -->
			<img src="https://i.pinimg.com/originals/5d/1d/c0/5d1dc0ad275b80ffeda32b6cb0b24da2.gif"
			class="w-[100px] h-[100px] rounded-lg mb-[190px]">
			</div>
		<h1 class="mb-[190px] text-center font-bold text-pink-600 text-4xl" style="font-family: 'Poppins', sans-serif;">
			silly cats ᓚᘏᗢ  
		  </h1>	
		  <!-- first Box -->
		  <div class="flex">
			<div class="w-[200px] h-[200px] bg-lime-200 m-[10px] flex-auto rounded flex items-center justify-center">
				<img src="https://i.pinimg.com/736x/41/76/4c/41764ce16ebb6d92a96cd67097768227.jpg" 
					class="w-full h-full object-cover rounded">
			</div>
			<!-- second Box -->
			<div class="w-[200px] h-[200px] bg-lime-200 m-[10px] flex-auto rounded flex items-center justify-center">
				<img src="https://i.pinimg.com/736x/39/6d/f5/396df568a4325fe46c4a4801e198e7ef.jpg" 
					class="w-full h-full object-cover rounded">
			</div>
			<!-- third Box -->
			<div class="w-[200px] h-[200px] bg-lime-200 m-[10px] flex-auto rounded flex items-center justify-center">
				<img src="https://i.pinimg.com/736x/bc/fc/1b/bcfc1b5b3d20e3dd637ae6165ba8425f.jpg" 
					class="w-full h-full object-cover rounded">
			</div>
		</div>
		<!-- button -->
		<div class = "flex">
			<button class="bg-pink-600 hover:bg-lime-900 text-white font-bold py-1 px-1 mt-[90px] rounded-full w-[100px] h-[50px] flex-auto">
				click me c:
			  </button>
		</div>
		<!-- discription -->
		<div class="flex justify-center">
			<h2 class="text-xl text-pink-800 rounded m-5 p-3 text-center bg-lime-200">
				These are cats. There are 4 of them. Did you know in 1993 a cat went to space? Also why are cats bad storytellers? Bc they only have 1 tail....... 
			</h2>
		</div>
	</div>
</body>
		<!-- <h1 class="font-bold text-3xl m-5">WiCS Dev Project: Spring 2025</h1>
		<nav>
			<a class="m-5 link" href="#food">Food</a>
			<a class="m-5 link" href="#places">Places</a>
			<a class="m-5 link" href="#colors">Colors</a>
		  </nav>
		<div class="flex flex-col">
			<h1 class="font-bold text-2xl m-5">My Favorite Foods</h1>
			<div class="flex flex-row" id="food">
				<ul class="text-2xl border-2 w-fit p-4 m-5">
					<li>Sushi</li>
					<li>Pizza</li>
					<li>Buggers</li>
				</ul>
				aa<ul class="text-2xl border-2 w-fit p-4 m-5">
					<li>Bread</li>
					<li>Butter</li>
					<li>Cheese</li>
				</ul>
				<ul class="text-2xl border-2 w-fit p-4 m-5">
					<li>Broccoli</li>
					<li>Carrots</li>
					<li>Muffins</li>
				</ul>
			</div>
			<h1 class="font-bold text-2xl m-5">My Favorite Places</h1>
			<div class="flex flex-col" id="places">
				<img class="m-5 w-[200px]" src="/assets/egypt.jpg"/>
				<img class="m-5 w-[200px]" src="/assets/paris.jpg"/>
				<img class="m-5 w-[200px]" src="/assets/florida.jpg"/>
			</div>
			
			<h1 class="font-bold text-2xl m-5">My Favorite Colors</h1>
			<div class="flex flex-row" id="colors">
				<div class="color m-5 bg-amber-400"></div>
				<div class="color m-5 bg-red-400"></div>
				<div class="color m-5 bg-blue-400"></div>
			</div>
		</div> -->
		<!-- <button class="bg-blue-100 rounded-md p-2 m-5 cursor-pointer variant-default">Generate Number</button> -->
	</body>
</html>

<style>
	.link {
		color: blue;
	}

	.color {
		width: 100px;
		height: 100px;
		border: 1px solid black;
		border-radius: 50%;
	}
</style>
